@media screen and (max-width: 780px)
    .buscador_principal
        p
            font-size: 1em
        input
            width: 10em
        button
            height: 2em
            border-radius: .4em