@use '../../sass/variables.sass'
@use '../../sass/mixins.sass'
@use '../../sass/fonts.sass'

.phy
    font-family: 'Wee'
    font-size: 1.5em
    color: black
    text-shadow: 2px 2px 8px variables.$cor-azul-texto
    font-weight: bold

.principais
    @include mixins.remover_margens
    background-color: variables.$cor-de-fundo
    text-align: center
    display: flex
    flex-direction: column
    align-items: center

.imagens_dinamicas
    display: flex
    gap: 5em
    margin-top: 2em


.titulo
    margin-top: 3em
    font-size: 2em
    color: variables.$cor-vermelho-texto

.principal
    margin: 0

    

.card_atomo
    position: relative
    cursor: pointer
    display: flex
    flex-direction: column
    justify-content: center
    align-content: center
    align-items: center

#card_1
    animation: levitate_1 2s infinite alternate ease-in-out

@keyframes levitate_1 
    0% 
        transform: translateY(0)

    100% 
        transform: translateY(-10px)

#card_2
    animation: levitate_2 3s infinite alternate ease-in-out

@keyframes levitate_2 
    0% 
        transform: translateY(0)

    100% 
        transform: translateY(-10px)

#card_3
    animation: levitate_3 2s infinite alternate ease-in-out

@keyframes levitate_3 
    0% 
        transform: translateY(0)

    100% 
        transform: translateY(-10px)

#card_4
    animation: levitate_4 3s infinite alternate ease-in-out

@keyframes levitate_4 
    0% 
        transform: translateY(0)

    100% 
        transform: translateY(-10px)

.title_atomo
    cursor: pointer
    width: 15em
    position: absolute
    filter: drop-shadow(6px 8px 6px black)
    background-color: #ffffff23
    border-radius: .5em

#cal_icone
    width: 10em

#eletro
    width: 19em
    height: 10em


.inner_atomo
    img
        object-fit: cover
        border-radius: 8px
        width: 20em
        height: 25em

.card_atomo:hover .inner_atomo
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0px)
    box-shadow: 2px 35px 32px -8px rgb(0, 0, 0, 0.75)
    filter: blur(0.8px)

.title_atomo
    transform: translate(0%, 100%, 0%)

.card_atomo:hover .title_atomo
    transform: translate3d(0%, -90%, 0)

.inner_atomo, .title_atomo
    transition: all 1.5s