@use '../../sass/variables'
@use '../../sass/mixins'
@use '../../sass/fonts'

.home
    @include mixins.remover_margens
    background-color: variables.$cor-de-fundo

body 
    padding: 0px
    margin: 0

html, body 
    height: 100%