@use '../../../sass/variables.sass'
@use '../../../sass/mixins.sass'
@use '../../../sass/fonts.sass'
    
.footer4
    margin: 0
    padding: 0
    background-color: #e0dddd8f
    h1
        font-size: 1.2em
        text-align: center
        padding: 1em
    h2
        margin: 0
        padding: 0
        font-size: 1em
        text-align: center

.assinatura
    font-family: 'Autografo'
    font-size: 2em